@page
@model RazorLoginPage.Pages.Admins.AdminMenuModel
<h2 class="text-primary">Admin home page</h2>
<ul>
	<li><a class="btn btn-primary" asp-page="/AdminUserList"></a></li>
	<li><a class="btn btn-primary" asp-page="/AdminUserList"></a></li>
	<li><a class="btn btn-primary" asp-page="/AdminUserList"></a></li>
</ul>

